.header {
  background: peachpuff;
  padding: 15px;
  margin-bottom: 10px;
}
.header__logo {
  text-transform: uppercase;
  font-weight: bold;
}

.header__menu {
  display: inline;
  margin-left: 20px;
}
